<!DOCTYPE html>
<title>Concept</title>
<head>
  <link rel="stylesheet" type="text/css" href="./static/inputform.css" />
</head>
<body>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  
    <h2 style="display:flex; justify-content: center; align-content: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Topic: {{concept}}</h2>
    <div id="frame">
      <div id="lectureArea">
          <p style="text-align: center">Transcribe a lecture</p>
        <form method="post" action="/transcript_file" enctype="multipart/form-data">
          <div class="uploaddiv">
            <input type="file" name="file" autocomplete="off" required />
          </div>
          <p style="text-align: center">
            <input type="submit" value="Upload file" />
          </p>
        </form>

      </div>
      <div id="2ndblock">
        <div id="youtubeArea">
          <p>Transcribe a YouTube video</p>
          <form action="/get_transcript" method="post">
            <label for="youtube_link">YouTube Link:</label>
            <input type="text" id="youtube_link" name="youtube_link" required />
            <input type="submit" value="Get Transcript" />
          </form>
        </div>
        <div id="notion">
            <p>Personal notes</p>
            <iframe src="https://v2-embednotion.com/CSCI-103-43fa6ba1d4034534b9da4847431fd903?pvs=4"></iframe>  <style>  iframe { width: 100%; height: 500px; border: 2px solid #ccc; border-radius: 10px; padding: none; }  </style>
        </div>
      </div>
    </div>
    

    

    
</body>
